<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/single.css">
    <title>ACASA Customer Web Portal</title>
</head>
<body>
    <div class="grid-container">
        <div class="space-1">&nbsp;</div>
        <div class="header-1 abgedeckt eingerueckt white">
            <div class="banner">
                <h1>ACASA Customer-Friendly Web-Portal :-)</h1>
            </div>
            <div class="login">
                {% if user %}
                    [USER]
                {% else %}
                    [LOGIN]
                {% endif %}
            </div>
        </div>
        <div class="space-1">&nbsp;</div>
        <div class="menu-1 eingerueckt">
            <h3>Menu</h3>
            <!-- prod-by-cat is a Python dict -->
            {% for cat in cats %}
                <a href="{{ cat }}">{{ cat }}</a>
            {% endfor %}
        </div>
        <div class="section-1 abgedeckt eingerueckt">
            {% if prods %}
                {% for prod in prods %}
                    <div>{{ prod }}</div>
                {% endfor %}
            {% else %}
                [HERE COMES THE SUN]
            {% endif %}
        </div>
        <div class="aside-1 eingerueckt">
            [ASIDE]
        </div>
        <div class="space-1">&nbsp;</div>
        <div class="footer-1 abgedeckt eingerueckt">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
        </div>
        <div class="space-1">&nbsp;</div>
    </div>
    <script data-main="js/app" src="/js/require.js"></script>
</body>
</html>