/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: url('/waves-washing-off-the-beach.jpg');
    background-size: cover;
}

h2,.white {
    color: #fff;
}

.abgedeckt {
    background-color: black;
    opacity: 0.5;
    color: aliceblue;
}

.eingerueckt {
    padding-left: 10px;
}

a {
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 1200px auto;
    grid-template-rows: 100px auto 100px;
    height: 100vh;
    width: 100vw;
}

.space-1 {
    
}

/* header-1 */

.header-1 {
    display: flex;
    flex-direction: row;
}

.banner {
    flex-grow: 1;
}

.login {
    flex-grow: 0;
    width: 200px;
}

/* menu 1 */
.menu-1 {
    font-family: cursive;
}

.menu-1 a {
    display: block;
    padding: 5px;
    padding-left: 0;
    font-size: 1.5rem;
}

.menu-1 a:hover {
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

/* section 1 */

.section-1 {
    height: 100%;
    padding-top: 20px;
}

.section-1 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
}

.aside-1 {
    
}

/* footer 1 */

.footer-1 {
    text-align: center;
    padding: 10px;
}

.footer-1 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin-top: 10px;
}

.footer-1 h2 {
    font-size: 1.7rem;
}

.footer-1 a {
    font-size: 1.5rem;
    padding: 5px;
}

.footer-1 a:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover {
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media(max-width:780px){
    .grid-container{
        grid-template-columns: 1fr;
    }
    .footer-1 {
        padding:0;
        padding-top: 5rem;
    }
    .section-1 {
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}